
.noise { background-image: url('../images/noise.png'); }
.btn {
	box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.2);
	border: none;
}

.btn__btn-start_centered {
	width: 250px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
	display: block;
	position: relative;
	background: url('../images/noise.png'), #ffad00;
	font-size: 20px;
	transform: skewX(-45deg);
	transition: transform 0.2s;
	overflow: hidden;
	    &:after {
    	content: " ";
    	display: inline-block;
    	width: 242px;
    	height: 52px;
    	background:  url('../images/noise.png'), #ffaa01; /* For browsers that do not support gradients */
	    background: url('../images/noise.png'), -webkit-linear-gradient(right, #ffaa01, #ff8c0e); /* For Safari 5.1 to 6.0 */
	    background: url('../images/noise.png'), -o-linear-gradient(right, #ffaa01, #ff8c0e); /* For Opera 11.1 to 12.0 */
	    background: url('../images/noise.png'), -moz-linear-gradient(right, #ffaa01, #ff8c0e); /* For Firefox 3.6 to 15 */
	    background: url('../images/noise.png'), linear-gradient(to right, #ffaa01, #ff8c0e); /* Standard syntax */
		position: absolute;
		top: 4px;
		left: 4px;
		z-index: -1;
    }
}
.btn__btn-start_centered:hover {transform: skewX(0);}
.btn__btn-start_centered:hover .btn__text {transform: skewX(0);}
.btn__btn-start_centered:active:after {background: #ffb62c;}

.btn__text, .btn-straight {
	transform: skewX(45deg);
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: block;
    margin: -14px auto;
    font-size: 1.250em;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    transition: transform 0.2s;
}

.btn-straight {
	width: 375px;
	height: 90px;
	margin:auto;
	top: 100%;
	bottom: 32px;
	left: 0;
	right: 0;
	text-align: center;
	display: block;
	position: absolute;
	background: url('../images/noise.png'), #ffad00;
	font-size: 22px;
	border-radius: 5px;
	overflow: hidden;
	transform: none;
	    &:after {
    	content: " ";
    	display: inline-block;
    	width: 367px;
    	height: 82px;
    	background: url('../images/noise.png'), #ffad00; /* For browsers that do not support gradients */
	    background: url('../images/noise.png'), -webkit-linear-gradient(right, #ffad00, #ff8c0e); /* For Safari 5.1 to 6.0 */
	    background: url('../images/noise.png'), -o-linear-gradient(right, #ffad00, #ff8c0e); /* For Opera 11.1 to 12.0 */
	    background: url('../images/noise.png'), -moz-linear-gradient(right, #ffad00, #ff8c0e); /* For Firefox 3.6 to 15 */
	    background: url('../images/noise.png'), linear-gradient(to right, #ffad00, #ff8c0e); /* Standard syntax */
		position: absolute;
		top: 4px;
		left: 4px;
    } 
}

.btn-straight:hover{background: url('../images/noise.png'), #40dd08;}
.btn-straight:hover:after {
	background:  url('../images/noise.png'), #fbefef; /* For browsers that do not support gradients */
    background: url('../images/noise.png'), -webkit-linear-gradient(right, #40dd08, #14b810); /* For Safari 5.1 to 6.0 */
    background: url('../images/noise.png'), -o-linear-gradient(right, #40dd08, #14b810); /* For Opera 11.1 to 12.0 */
    background: url('../images/noise.png'), -moz-linear-gradient(right, #40dd08, #14b810); /* For Firefox 3.6 to 15 */
    background: url('../images/noise.png'), linear-gradient(to right, #40dd08, #14b810); /* Standard syntax */
}
.btn-straight:active{background: url('../images/noise.png'), #40dd08;}
.btn-straight:active:after {
	background:  url('../images/noise.png'), #fbefef; /* For browsers that do not support gradients */
    background: url('../images/noise.png'), -webkit-linear-gradient(right, #4cec11, #1bc818); /* For Safari 5.1 to 6.0 */
    background: url('../images/noise.png'), -o-linear-gradient(right, #4cec11, #1bc818); /* For Opera 11.1 to 12.0 */
    background: url('../images/noise.png'), -moz-linear-gradient(right, #4cec11, #1bc818); /* For Firefox 3.6 to 15 */
    background: url('../images/noise.png'), linear-gradient(to right, #4cec11, #1bc818); /* Standard syntax */
}

//////////////////BTN-STRAIGHT-PSV/////////////////////
.btn-straight-psv {
	@extend .btn-straight; 
	background: url('../images/noise.png'), #e1e1e1; /* For browsers that do not support gradients */
	color: #979797;
	&:after { 
		background:  url('../images/noise.png'), #dfdada; /* For browsers that do not support gradients */
	    background: url('../images/noise.png'), -webkit-linear-gradient(to left, rgb(235, 235, 235), rgb(225,225,225)); /* For Safari 5.1 to 6.0 */
	    background: url('../images/noise.png'), -o-linear-gradient(left, rgb(235, 235, 235), rgb(225,225,225)); /* For Opera 11.1 to 12.0 */
	    background: url('../images/noise.png'), -moz-linear-gradient(to left, rgb(235, 235, 235), rgb(225,225,225)); /* For Firefox 3.6 to 15 */
	    background: url('../images/noise.png'), linear-gradient(to right, rgb(235, 235, 235), rgb(225,225,225)); /* Standard syntax */
	}
}

.btn-straight-psv:hover{background: url('../images/noise.png'), #fbefef;}
.btn-straight-psv:hover:after {
	background:  url('../images/noise.png'), #fbefef; /* For browsers that do not support gradients */
    background: url('../images/noise.png'), -webkit-linear-gradient(right, #fbf0f0, #fddfdf); /* For Safari 5.1 to 6.0 */
    background: url('../images/noise.png'), -o-linear-gradient(right, #fbf0f0, #fddfdf); /* For Opera 11.1 to 12.0 */
    background: url('../images/noise.png'), -moz-linear-gradient(right, #fbf0f0, #fddfdf); /* For Firefox 3.6 to 15 */
    background: url('../images/noise.png'), linear-gradient(to right, #fbf0f0, #fddfdf); /* Standard syntax */
}
.btn-straight-psv:active{background: url('../images/noise.png'), #fbefef;}
.btn-straight-psv:active:after {
	background:  url('../images/noise.png'), #fbefef; /* For browsers that do not support gradients */
    background: url('../images/noise.png'), -webkit-linear-gradient(right, #fffcfc, #fbefef); /* For Safari 5.1 to 6.0 */
    background: url('../images/noise.png'), -o-linear-gradient(right, #fffcfc, #fbefef); /* For Opera 11.1 to 12.0 */
    background: url('../images/noise.png'), -moz-linear-gradient(right, #fffcfc, #fbefef); /* For Firefox 3.6 to 15 */
    background: url('../images/noise.png'), linear-gradient(to right, #fffcfc, #fbefef); /* Standard syntax */
}

.btn__text-straight {
	left: 0;
	right: 0;
	display: block;
	position: relative;
	z-index: 1;
	font-size: 22px;
}

.desc-svg {
	position: absolute;
	top: -40px;
	top: 0;
	left: -20px;
	right: 0;
	opacity: 0.7;
	z-index: -1;
}

.centerd {
	padding: 0;
}

.decorAnim {
	animation-name: decorAnim;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

@keyframes decorAnim {
		0% { transform: scale(0.7); }
		50% { transform: scale(1); }
		100% { transform: scale(0.7); }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }



input[type="email"].form__email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $white;
	}
input[type="email"].form__email::-moz-placeholder { /* Firefox 19+ */
	  color: $white;
	}
input[type="email"].form__email:-ms-input-placeholder { /* IE 10+ */
	  color: $white;
	}
input[type="email"].form__email:-moz-placeholder { /* Firefox 18- */
	  color: $white;
	}


.btn-submit {
	width: 248px;
	height: 60px;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	float: right;
	border: none;
	color: $white;
	background: url('../images/noise.png'), #ffb300;
	border-radius: 4px;
	&:after {
	content: " ";
	display: inline-block;
	width: 244px;
	height: 56px;
	background: url('../images/noise.png'), #ffad00; /* For browsers that do not support gradients */
    background: url('../images/noise.png'), -webkit-linear-gradient(right, #ffad00, #ff8c0e); /* For Safari 5.1 to 6.0 */
    background: url('../images/noise.png'), -o-linear-gradient(right, #ffad00, #ff8c0e); /* For Opera 11.1 to 12.0 */
    background: url('../images/noise.png'), -moz-linear-gradient(right, #ffad00, #ff8c0e); /* For Firefox 3.6 to 15 */
    background: url('../images/noise.png'), linear-gradient(to right, #ffad00, #ff8c0e); /* Standard syntax */
	position: absolute;
	top: 2px;
	left: 2px;
	} 
}

.btn-submit__text {
	left: 0;
	right: 0;
	display: block;
	position: relative;
	z-index: 1;
	font-size: 1.250rem;
	font-weight: 800;
	text-transform: uppercase;
}


//////////MENU TRIGGER////////////
.menu-trigger {
	display: none;
	width: 55px;
	height: 55px;
	background-color: $blue;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}


#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 12px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: $white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}