
//**************MAIN MIXINS
@mixin add-font($font-url, $font-family, $font-weight, $font-style: normal) {
    font-family: $font-family;
      src: url('#{$font-folder}#{$font-url}.eot');
      src: url('#{$font-folder}#{$font-url}.eot?#iefix') format('embedded-opentype'),
           url('#{$font-folder}#{$font-url}.woff') format('woff'),
           url('#{$font-folder}#{$font-url}.ttf') format('truetype'),
           url('#{$font-folder}#{$font-url}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin transition($prop: all, $time: .3s, $ease: ease-in-out) {
  transition: $prop $time $ease;
}

@mixin img-bg($img, $pos: center center, $att: scroll) {
  background-image: url('#{$img-folder}#{$img}');
  background-repeat: no-repeat;
  background-position: $pos;
  background-size: cover;
  background-attachment: $att;
}

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}
//****************************