//URL relative to the style.css
$font-folder:'../fonts/';
$img-folder: '../img/';
 

//COLORS
$base-font-size: 16px;
$title-color: #0f5f5c;
$text-color: #83a7a5;
$green: #6fb048;
$background: #eef1ec; 
$footer-bg: #326769;