body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24/16;
  overflow-x: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  width: 100%;
  height: auto; }

input {
  outline: none; }

textarea {
  outline: none; }
