/* Empty. Add your own CSS if you like */
.pane {
    background-size: cover;
    background: url('/img/blue_bg.jpg');
}
.content33 {
    width: 38%;
    background-color: rgba(255,255,255,0.7);
    height: 70%;
    border: 8px solid rgba(0,0,0,0.4);
    border-radius: 15px;
    margin-top: 10%;
    margin: 0 auto;
    padding-top: 3%;
    box-shadow: 10px 15px 20px rgba(0,0,0,0.6);
    margin-top: 10%;
}
h1 {
    text-align: center;
}
.item-stacked-label {
    text-align: center;
}
input[type^="text"] {
    text-align: center;
    margin: 0 auto;
}
.alignLeft {
    text-align: left;
}
.center {
    margin: 0 auto;
}
.right {
    float: right;
}
.table_wrapper {
    display: none;
}
select, .kvt {
    display: inline-block;
    vertical-align: bottom;
}
@media screnn and ( max-width: 1024px ) {
    .content33 { width: 50%; } 
}
@media screnn and ( max-width: 980px ) {
    .content33 { width: 70%; } 
}
@media screnn and ( max-width: 736px ) {
    .content33 { width: 90%; } 
}
