<div class="modal">

    <ion-header-bar class="bar-secondary">
        <h1 class="title" ng-show="currentTaskId == -1">Add new task</h1>
        <h1 class="title" ng-show="currentTaskId > -1">Edit task</h1>
        <button class="button button-clear button-positive" ng-click="closeTask()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="submitTask(activeTask)">
            <div class="list">
                <label for="" class="item item-input">
                    <input type="text" placeholder="New task" ng-model="activeTask.title">
                </label>
                <label for="" class="item item-input">
                    <input type="text" placeholder="Description" ng-model="activeTask.description">
                </label>
                <ul class="list">
                    <li class="item item-toggle">
                        <span class="toggle-item">Done</span>
                        <label for="" class="toggle toggle-positive">
                            <input type="checkbox" ng-model="activeTask.done" />
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive" ng-show="currentTaskId == -1">Add task</button>
                    <button type="submit" class="button button-block button-positive" ng-show="currentTaskId > -1">Save</button>
                </div>
            </div>
        </form>
    </ion-content>

</div>