.title {
    font-weight: 300;
    text-align: center;
    display: inline-block;
}

.section_no-overflow {
	overflow: visible!important;
}

.sub-title {
    margin-top: 40px;
    text-align: center;
    display: block;
    font-size: $base-font-size;
    font-weight: 400;
}

.background-img {
    max-width: 100%;
    max-height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    behavior: url(PIE.htc);
}

.background_blue {
    display: block;
    width: 140%;
    margin-left: -70px;
    position: absolute;
    height: 88%;
    background-color: #008be5;
    transform: rotate(3deg);
    behavior: url(PIE.htc);
}

.background_pictured {
    @include img-bg('section-showcase-bg.jpg');
    opacity: .14;
    display: block;
    width: 140%;
    margin-left: -70px;
    position: absolute;
    height: 88%;
    transform: rotate(3deg);
    behavior: url(PIE.htc);
}

.img_centered {
			margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 18px 74px;
    margin: 0 auto;
    font-size: em(20px);
    font-weight: 400;
    border: 2px solid $white-text;
    text-transform: uppercase;
    outline: none;
    &:hover {
        border: 2px solid #414240;
        text-decoration: none;
        color: $hover-text;
        background-color: $white-text;
    }
    &_submit {
        @extend .button;
        background-color: transparent;
        padding: 10px 25px;
        color: #5d5d5d;
        border-color: #5d5d5d;
        float: right;
    }
    &_submit_dark {
        @extend .button;
        background-color: transparent;
        padding: 10px 25px;
        color: #5d5d5d;
        border-color: #5d5d5d;
        float: right;
		&:hover {
			background-color: #5d5d5d;
			color: $white-text;
		}
		@media screen and (max-width: 414px) {
        	float: none;
        	margin-top: 20px;
        }	
    }
    &_left {
        @extend .button;
        float: left;
    }
    &_right {
        @extend .button;
        float: right;
        margin-right: -30px;
    }
}

.subscribe__input {
    &::-webkit-input-placeholder {
        color: #a0a0a0;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: #a0a0a0;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: #a0a0a0;
    }
    &:-ms-input-placeholder {
        color: #a0a0a0;
    }
    @media screen and (max-width: 414px) {
    	  &::-webkit-input-placeholder {
        color: #a0a0a0;
        text-align: center
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        color: #a0a0a0;
        text-align: center
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: #a0a0a0;
        text-align: center
    }
    &:-ms-input-placeholder {
        color: #a0a0a0;
        text-align: center
    }
        	
    }
    behavior: url(PIE.htc);
}

//REPONSIVE IMG
.background__img_responsive {
    display: block;
    max-width: 100%;
    height: auto;
    behavior: url(PIE.htc);
}


[class^="section__"] {
	position: relative;
}