//URL relative to the style.css
$font-folder:'../fonts/';
$img-folder: '../img/';
 

//COLORS
$base-font-size: 18px;
$white-text: #fff8f6;
$grey-text: #343434;
$hover-text: #28182c;
$blue-background: #007ecf; 
$white-background: #ffffff;
$footer-bg: #326769;